//Append a pseudo element after the parent element which will clear these floats
@mixin  clearfix {
    &::after{
        content:'';
        display: table;
        clear: both;
    }
}

@mixin text-gradient{
    &{
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text; //will make the gradient available only where the text is present
        color: transparent; // Setting the text color transparent will bring out the green gradient in the background
    }
}