body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-black;
    padding: 3rem;
    box-sizing: border-box;
}

.heading {
    color: $color-white;
    text-transform: uppercase;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-iteration-count: ease-out;
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: moveInRight 1s ease-out;
        margin-bottom: 6rem;
    }
}